<section class='character tab effects {{tab.cssClass}}' data-group='primary' data-tab='effects'>

  {{!-- All Active Effects --}}
  <ol class="gear-list">
    <div class="effects-grid gear-header {{#if singleColour}}primBackCol{{else}}terBackCol{{/if}}">
      <div class="diff-label left">{{localize 'AOV.sourceItem'}}</div>
      <div class="diff-label left">{{localize 'AOV.effectName'}}</div>
      <div class="diff-label centre">{{localize 'AOV.effect'}}</div>
      <div class="diff-label centre">{{localize 'AOV.amount'}}</div>
      <div class="diff-label centre">{{localize 'AOV.active'}}</div>
    </div>

    {{#each effects as |effect|}}
      <li class="item item-edit effects-grid" data-item-id = "{{effect.id}}" data-eff-uuid="{{effect.effUuid}}" data-counter="{{effect.counter}}" {{#if effect.sourceItem}} data-document-class='Item'{{/if}}>
        <div class="effect-source left truncate {{#if effect.sourceItem}}rollable{{/if}}" {{#if effect.sourceItem}} data-tooltip="{{localize 'AOV.viewOnly'}}" data-action="viewDoc" data-preventDel="true"{{/if}}>{{effect.sourceName}}</div>
        <div class="effect-source left truncate">{{effect.effectName}}</div>
        <div class="centre truncate" data-tooltip="{{effect.name}}">{{effect.name}}</div>
        <div class="centre">{{effect.value}}</div>
        {{#if effect.isActive}}
          <div class="centre" data-tooltip="{{localize 'AOV.active'}}">
            <img class="aura-img"  height="18" width="18" />
          </div>
        {{else}}
          <div class="centre" data-tooltip="{{localize 'AOV.inactive'}}">
            <img class="aura-img fade"  height="18" width="18" />
          </div>
        {{/if}}
        {{#if effect.oneShot}}
          <div class="centre" data-tooltip="{{localize 'AOV.useEffect'}}" data-action="triggerEffects">
            <a class="centre"><i class="fa-solid fa-bullseye"></i></a>
          </div>
        {{/if}}
      </li>
    {{/each}}
  </ol>

  {{!-- Active Effect Items on Actor --}}
    <br>
    <ol class="gear-list">
      <div class="effects-grid gear-header {{#if singleColour}}primBackCol{{else}}terBackCol{{/if}}">
        <div class="diff-label left" data-tooltip="{{localize 'AOV.effectActorHint'}}">{{localize 'AOV.effectActor'}}</div>
        <div class="diff-label centre">{{localize 'AOV.active'}}</div>
        <div class="centre">
          <a class="item-control item-create" data-tooltip="{{localize 'SIDEBAR.ACTIONS.CREATE.ActiveEffect'}}" data-action="createEffect">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        <div class="centre">
          <a class="" data-tooltip="{{localize 'AOV.clearEffects'}}" data-action="clearEffects">
            <i class="fas fa-broom"></i>
          </a>
        </div>

      </div>
      {{#each actor.effects as |effect|}}
        <li class="item item-edit effects-grid" data-effect-id="{{effect.id}}">
          <div class="effect-source left rollable" data-tooltip="{{localize 'AOV.viewDoc' type=(localize 'DOCUMENT.ActiveEffect')}}" data-action="viewActiveEffect">{{effect.name}}</div>
          <div class="centre" data-tooltip="{{#if effect.active}}{{localize 'AOV.active'}}{{else}}{{localize 'AOV.inactive'}}{{/if}}">
            <a class="item-control item-create" data-action="toggleEffect">
              <img class="aura-img{{#unless effect.active}} fade{{/unless}}" height="18" width="18" />
            </a>
          </div>
        </li>
      {{/each}}
    </ol>
</section>