<form class="aov">
  <div class="">
    <ol class="op-list">
      {{#each chatCard as |c key|}}
        <div class="dice-roll" data-action="expandRoll">
          <li class='actor-roll'>
            <img class="open-actor" src="{{c.particImg}}" height="53" width="53" data-tooltip="{{c.particName}}"/>
            <div class="roll-details">
              <div class="header">
                <div class='name'>
                  <span class="tag">{{c.particName}}</span>
                </div>
              </div>
              {{#if (eq c.rollType 'DM')}}
                <div class="header">
                  <div class='name'><span class="tag">{{c.label}}</span></div>
                </div>
                <div class="header">
                  <div class='name'><span class="tag">{{c.rollFormula}}</span></div>
                </div>
              {{else}}
                <div class="header">
                  <div class='name'>
                    <span class="tag">{{c.label}}
                    {{#if (eq ../cardType 'FI')}}
                      [{{c.rawScore}} v {{c.oppRes}}]
                    {{/if}}
                    ({{c.targetScore}}) </span>
                  </div>
                </div>
              {{/if}}
            </div>
          </li>
          <div class="damres pending">
            {{#if (eq c.rollType 'DM')}}
              <span class="pending">{{localize 'AOV.damage'}}: {{c.rollVal}}
                {{#isOr (gt c.weaponAbsorb 0) (gt c.armourAbsorb 0)}}
                  ({{c.rollResult}} - {{c.weaponAbsorb}} - {{c.armourAbsorb}})
                {{/isOr}}
            {{else}}
              {{#if (eq c.resultLevel 4)}}
                <span class="pending">{{c.resultLabel}}: {{c.rollVal}} <i class="result-success fas fa-axe-battle"></i><i class="result-success fas fa-axe-battle"></i><i class="result-success fas fa-axe-battle"></i>
              {{/if}}

              {{#if (eq c.resultLevel 3)}}
                <span class="pending">{{c.resultLabel}}: {{c.rollVal}} <i class="result-success fas fa-axe-battle"></i><i class="result-success fas fa-axe-battle"></i>
              {{/if}}

              {{#if (eq c.resultLevel 2)}}
                <span class="pending">{{c.resultLabel}}: {{c.rollVal}} <i class="result-success fas fa-axe-battle"></i>
              {{/if}}

              {{#if (eq c.resultLevel 1)}}
                <span class="pending">{{c.resultLabel}}: {{c.rollVal}} <i class="result-fail fas fa-skull"></i>
              {{/if}}

              {{#if (eq c.resultLevel 0)}}
                <span class="pending">{{c.resultLabel}}: {{c.rollVal}} <i class=" result-fail fas fa-skull"></i><i class="result-fail fas fa-skull"></i>
              {{/if}}
            {{/if}}
            </span>
          </div>
          <div class="actor-roll dice-tooltip">
            <div class="owner-only" data-partic-id="{{c.particId}}" data-partic-type="{{c.particType}}">
              {{#if (eq c.rollType 'DM')}}
                <div class="rollHidden">{{localize 'AOV.card.damType'}}: {{c.damTypeLabel}}</div>
                <div class="rollHidden">{{localize 'AOV.card.successLevel'}}: {{c.successLevelLabel}}</div>
                <div class="rollHidden">{{localize 'AOV.card.attackDamBonus'}}: {{c.damBonus}}</div>
                <div class="rollHidden">{{localize 'AOV.card.weaponAbsorb'}}: {{c.weaponAbsorb}}</div>
                <div class="rollHidden">{{localize 'AOV.card.armourAbsorb'}}: {{c.armourAbsorb}}</div>
              {{else}}
                {{#if (eq rollType 'CH')}}
                  {{#if (eq ../cardType 'NO')}}
                    <div class="rollHidden">{{localize 'AOV.card.difficulty'}}: {{c.diffLabel}}</div>
                  {{/if}}
                  {{#if (eq ../cardType 'FI')}}
                    <div class="rollHidden">{{localize 'AOV.card.oppRes'}}: {{c.oppRes}}</div>
                  {{/if}}
                {{/if}}
                <div class="rollHidden">{{localize 'AOV.card.rawScore'}}: {{c.rawScore}}</div>
                <div class="rollHidden"> {{localize 'AOV.card.bonus'}}:
                  {{#if (lt c.flatMod 1)}}
                    {{c.flatMod}}
                  {{else}}
                    +{{c.flatMod}}
                  {{/if}}
                </div>
                {{#unless (eq c.mqPenalty 0)}}
                  <div class="rollHidden"> {{localize 'AOV.moveQuietlyAbbr'}}: {{c.mqPenalty}}</div>
                {{/unless}}
                <div class="rollHidden"> {{localize 'AOV.encPenalty'}}: {{c.encPenalty}}</div>
              {{/if}}
              <div class="rollHidden">{{localize 'AOV.card.diceRolled'}}: {{c.diceRolled}}</div>
              <div class="rollHidden bottom-line">{{localize 'AOV.card.diceRoll'}}: {{c.rollResult}}</div>
            </div>
          </div>
        </div>
      {{/each}}
    </ol>
  </div>

  {{#if (eq state 'open')}}
    {{#each chatCard as |c key|}}
      {{#isAnd (eq c.rollType 'DM') c.damageCF}}
        {{#if (gt c.rollVal 0)}}
          <div class="owner-only" data-partic-id="{{c.particId}}" data-partic-type="{{c.particType}}">
            <button class='resolve cardbutton' data-preset='roll-hitloc-card' data-card={{key}} type="button">{{localize 'AOV.card.rollHitLoc'}}</button>
          </div>
        {{/if}}
      {{/isAnd}}
    {{/each}}
  {{else}}
    {{#each chatCard as |c key|}}
      {{#if (eq c.rollType 'DM')}}
        {{#unless (eq c.targetLoc "")}}
          <div class="combat-result">{{c.targetLoc}}</div>
        {{/unless}}
        {{#if (eq ../state 'applyDmg')}}
          <div class="owner-only" data-partic-id="{{c.particId}}" data-partic-type="{{c.particType}}">
            <button class='resolve cardbutton' data-preset='apply-damage-card' data-card={{key}} type="button">{{localize 'AOV.card.applyDamage'}}</button>
          </div>
        {{/if}}
      {{/if}}
    {{/each}}
  {{/if}}

</form>