<section class='item tab effects {{tab.cssClass}}' data-group='primary' data-tab='effects'>
  {{#if isGM}}
    <div class="flexrow">
      <div></div>
      <a class="item-control item-create" style="flex: 0 0 auto;" data-tooltip="{{localize 'SIDEBAR.ACTIONS.CREATE.ActiveEffect'}}" data-action="createEffect">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    <ol class="gear-list">
      {{#each effects as |effect|}}
        <li class="item item-edit effects-grid">
          <div class="effect-source left rollable" data-tooltip="{{localize 'AOV.viewDoc' type=(localize 'DOCUMENT.ActiveEffect')}}" data-action="openActiveEffect" data-uuid="{{effect.uuid}}">{{effect.name}}</div>
        </li>
      {{/each}}
    </ol>
  {{else}}
    {{#each effectChanges as |effect|}}
      <div class="weapon-input active-effect-list" style="align-items: center;" data-key="{{effect.key}}">
        <div class="truncate">{{localize effect.name}}</div>
        {{#if effect.negative}}
          <div>-{{effect.value}}</div>
        {{else}}
          <div>{{effect.value}}</div>
        {{/if}}
      </div>
    {{/each}}
  {{/if}}
</section>